# PostgreSQL database configuration
PG_USER=your_postgres_user
PG_PASSWORD=your_postgres_password

# MinIO configuration
MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password

# Museum configuration (only in museum.yaml file)
# MUSEUM_KEY=your_museum_key
# MUSEUM_HASH=your_museum_hash
# MUSEUM_JWT_SECRET=your_museum_jwt_secret
